[submodule "tools/juggle"]

	path = tools/juggle

	url = https://github.com/qianqians/juggle.git
[submodule "tools/jsonparse"]
	path = tools/jsonparse
	url = https://github.com/qianqians/jsonparse.git
