[submodule "thirdpart/jsonparse"]
	path = thirdpart/jsonparse
	url = https://github.com/qianqians/jsonparse.git

[submodule "thirdpart/juggle"]
	path = thirdpart/juggle
	url = https://github.com/qianqians/juggle
